* {
    box-sizing: border-box;
}

body {

    font-family: 'Calibri', Times, serif;
    margin: 0;
}


header {
    position: fixed;
    width: 100%;
    background-color: #ffcd38;
    top: 0;
    right: 0;
    left: 0;
    height: 85px;
    margin-bottom: 10px;
}

nav {
    display: inline;
    float: right;
    margin-top: 30px;
    font-size: 22px;
}

#logo {
    display: block;
    float: left;
}

.navItem {
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 5px 5px 30px 5px;
    transition: all 0.15s ease-in-out 0.05s;
}

.navItem:hover {
    background-color: #ffffff;
    transition: all 0.15s ease-in-out 0.05s;
    opacity: 1
}

header img {
    transition: transform .2s;
    height: 85px;
}

header img:hover {
    transform: scale(1.1);
}

/*makes main not overlap with the fixed header*/
main {
    float: left;
    text-align: center;
    margin-top: 84px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.733);
}

/* styles the welcome text on the main page*/
#welcome {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

/*styles the different divs like categories or listings*/
.postit {
    background-color: #ffcd38;
    float: left;
    width: 600px;
    border-radius: 10px 10px 80px 10px;
    transition: transform .2s;
    margin: 0 8.5% 5% 8.5%;
    padding-bottom: 10px;
    box-shadow: rgb(51, 51, 51) 10px 10px 30px;
}

/*makes the listing hover*/
.postit:hover {
    transform: scale(1.02);
    box-shadow: black 20px 20px 30px;
}

.postit img {
    width: 450px;
    height: 250px;
    border-radius: 20px;
}

/*styles the footer*/
footer {
    overflow: hidden;
    width: 100%;
    clear: left;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffcd38;
}

/*makes the images pop up when hovering the mouse over it*/
footer img {
    transition: transform .1s;
}

/*makes the images pop up when hovering the mouse over it*/
footer img:hover {
    transform: scale(1.1);
}

/*makes the about us black instead of blue*/
footer a {
    color: black;
}

/*removes the blue line from the images*/
.social a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.submenu {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 26px;
    text-align: left;
}

.submenu a {
    color: rgb(255, 255, 255);
}


.ads{
    padding: 10px;
    display:block;
    color: inherit; 
    text-decoration: none; 
}

.ads h2 {
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-top: 10px;
    margin: 0;  
}
.ads{
    float: left;
}
